footer {
    grid-area: footer;
    width: auto;
    height: auto;
    position: sticky;
    background-color: rgb(180, 180, 180) ;
    height: 100%;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;   
    display: flex;
    align-items: center;
    top: 2%;
    h5 {
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif; 
        margin-bottom: 0%;
        margin-left: 5px;
    }
    .redes{
        ul{ 
            list-style: none;
            display: flex;
            margin-bottom: 4px;
            margin-right: 4px;
            padding-left: 0%;

        li{
           img {
                    height: 20px;
                    &:hover{
                        transform: scale(1.3);
                    }
                }         
            }
        }
        }
}