@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;

}
html {
    background-image: url("../img/fotos/img214.jpg");
    background-position-x: center;
    background-position-y: center;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
        
}
@import "_body.scss";
@import "_h1.scss";
@import "_nav";
@import "_header";
@import "_main.scss";
@import "footer.scss";



 
